@import 'core.scss';

.typography {
}

.h1 {
  @include font($black, 32px, 600, 48px);
  margin: 10px 0;
}

.h2 {
  @include font($black, 24px, 600, 28px);
  margin: 8px 0;
}

.h3 {
  @include font($black, 20px, 600, 24px);
  margin: 6px 0;
}

.h4 {
  @include font($black, 16px, 600, 20px);
  margin: 4px 0;
}

.h5 {
  @include font($black, 14px, 600, 18px);
  margin: 2px 0;
}

.h6 {
  @include font($black, 12px, 600, 16px);
  margin: 0;
}
